body {
  background-color: #f1f0a3;
  font-family: Arial, sans-serif;
}

h1 {
  color: #00698f;
  text-align: center;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0aaaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}